<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/index.css" rel="stylesheet">

    <title>Про штаб (УГШ).</title>
</head>
<body>
    <div class="div_center"><h1>Що таке УГШ?</h1></div>
    <div class="div_center"><p>Український Громадянський Штаб - це штаб де можна дізнатися де зараз ракети, де світло, перевірені фронтові та загальні новини від офіційних джерел.</p></div>
    <div class="div_center"><h1>Як ресурс знає де ракети?</h1></div>
    <div class="div_center"><p>Штаб збирає інформацію з перевірених та офіційних ресурсів, аналізує і передає вам.</p></div>
    <div class="div_center"><h1>Як ресурс знає де світло?</h1></div>
    <div class="div_center"><p>Штаб питає вашу область і район і потім пробиває по областній базі світла яку оновлюють кожен день.</p></div>
    <div class="div_center"><h1>Чи можна довіряти ресурсу?</h1></div>
    <div class="div_center"><p>Довіряти можна, але з увагою, бо це тільки перші версіі парсерів інформаціі і взагалі штабу.</p></div>
    <div class="div_center"><h1>Автор і технологіі?</h1></div>
    <div class="div_center"><p>Автор ресурсу Іван Пержинський.</p></div>
    <div class="div_center"><p>Технологіі: HTML, CSS, JS, Python (Flask, Telethon).</p></div>
    <div class="div_center"><h1>Контакти?</h1></div>
    <div class="div_center"><p><a href="https://t.me/azovv4308">Telegram.</a></p></div>
    <div class="div_center"><button onclick="location.href = '/'">Назад.</button></div>
</body>
</html>
